@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Silkscreen&display=swap&family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31,111,174);
}

.continentChooseBackground {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.continent {
    cursor: pointer;
}