@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/continentLoadingBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: Roboto Condensed;
    font-weight: bold;
}

@media screen and (orientation: portrait) {
    .title {
        font-size: 10vw;
    }
}

.loadingBoxOut {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 15%;
    aspect-ratio : 1 / 1;
}

.flag1 {
    position: absolute;
    height: 25%;
    width: 25%;
    left: 0;
    top: 0;
    background-image: url("images/flagIMG1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: flag1Rotation 5s ease-in-out infinite forwards;
}
@keyframes flag1Rotation {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 50%;
        top: 0;
    }
    50% {
        left: 50%;
        top: 50%;
    }
    75% {
        left: 0;
        top: 50%;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.flag2 {
    position: absolute;
    height: 25%;
    width: 25%;
    right: 0;
    top: 0;
    background-image: url("images/flagIMG2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: flag2Rotation 5s ease-in-out infinite forwards;
}
@keyframes flag2Rotation {
    0% {
        left: 50%;
        top: 0;
    }
    25% {
        left: 50%;
        top: 50%;
    }
    50% {
        left: 0;
        top: 50%;
    }
    75% {
        left: 0;
        top: 0;
    }
    100% {
        left: 50%;
        top: 0;
    }
}

.flag3 {
    position: absolute;
    height: 25%;
    width: 25%;
    right: 0;
    bottom: 0;
    background-image: url("images/flagIMG3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: flag3Rotation 5s ease-in-out infinite forwards;
}
@keyframes flag3Rotation {
    0% {
        left: 50%;
        top: 50%;
    }
    25% {
        left: 0;
        top: 50%;
    }
    50% {
        left: 0;
        top: 0;
    }
    75% {
        left: 50%;
        top: 0;
    }
    100% {
        left: 50%;
        top: 50%;
    }
}

.flag4 {
    position: absolute;
    height: 25%;
    width: 25%;
    right: 0;
    bottom: 0;
    background-image: url("images/flagIMG4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: flag4Rotation 5s ease-in-out infinite forwards;
}
@keyframes flag4Rotation {
    0% {
        left: 0;
        top: 50%;
    }
    25% {
        left: 0;
        top: 0;
    }
    50% {
        left: 50%;
        top: 0;
    }
    75% {
        left: 50%;
        top: 50%;
    }
    100% {
        left: 0;
        top: 50%;
    }
}